body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.modules-container {
    display: flex;
    flex-direction: column;
}


.module{

    font-family: "Yu Gothic Light";
    font-size: 14px;
    padding: 50px;
    color: rgb(255, 150, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.module:nth-child(odd){
    background-color: black;
}

.module:nth-child(even){
    background-color: rgb(190,190,190);
    color: rgb(50, 0, 50);
}

.module-text {
    width: 60%;
    flex: 1;
}

.module img {
    width: 500px;
}


@media (max-width: 600px) {
    .module {
        flex-direction: column;
        text-align: center;
    }

    .module img {
        width: 100%;
        max-width: 300px;
    }
}


.navbar, footer{
    display: flex;
    font-family: "Yu Gothic Light";
    background: black;
    justify-content: center;
    text-align: center;
    padding: 20px;
    color: rgb(255, 150, 255);
    gap: 20px;

}

footer{

    margin-top: 50px;
}

.navbar a{
    font-size: 40px;
    color: rgb(255, 150, 255);
}

@media (max-width: 600px) {
    .navbar{
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}