.modlue{

    font-family: "Yu Gothic Light";
    font-size: 14px;
    padding: 50px;
    margin: -10px;
    background-color: black;
    color: rgb(255, 150, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

}


.module-text {
    width: 60%;
    flex: 1;
}

.module img {
    width: 300px;
}


/* Mobile */
@media (max-width: 600px) {
    .module {
        flex-direction: column;
        text-align: center;
    }

    .module img {
        width: 100%;
        max-width: 300px;
    }
}
